.smiley-page{
    height: 100%;
}

.smiley-page .smiley-container{
    height: 100%;
    
    font-size: 40px;
}

.smiley-page .happy-face, .smiley-page .sad-face{
    height: 50%;
    
    text-align: center;
    padding-top: 34%;
    
    color: white;
    font-size: 70px;
}

.smiley-page .happy-face{
    background-color: green;
}

.smiley-page .sad-face{
    background-color: red;
}

.smiley-page .tags-container{
    min-height: 100%;
    
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.smiley-page .tags-container .tag-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 70px;
}

.smiley-page .tags-container .tag-item span{
    display: block;
    min-width: 180px;
    
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 10px;
    
    text-align: center;
    cursor: pointer;
}

